$text-color: #1D1D1D;
$text-color-grey: #BDC3C7;
$text-color-alt: #2C3E50;
$background-color: #ECF0F1;
$border-hover-color: #768696;
$background-color-grey: #F9FAFB;
$brand-color: #27AE60;
$brand-blue-color: #3498DB;
$brand-blue-hover-color: #2980B9;
$grey-color: #7F8C8D;
$hover-color: #DCEAF7;


$small-padding: 16px;
$medium-padding: 24px;
